<!-- FILE: src/main/resources/templates/evento/eventos.html -->

<!DOCTYPE html>
<html lang="pt-BR" 
      layout:decorate="~{layout/layoutpadrao}" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Eventos Pesquisados</title>
</head>
<body>
<!-- conteudo principal -->
<main layout:fragment="conteudo" th:fragment="tabela" id="main" class="flex flex-col w-full">
  <h1 class="text-3xl mt-10 ml-10">Eventos</h1>

  <h1 th:if="${pagina.vazia}" class="mt-10 ml-10 text-2xl">Não encontramos nenhum evento nessa pesquisa</h1>

  <div th:if="${not pagina.vazia}" class="flex flex-col ml-10 md:w-4/5">
    <div class="-m-1.5 overflow-x-auto mt-5">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="border rounded-xl overflow-hidden shadow">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'codigo', 'Código', '')}"></th>
                <th th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'nome', 'Nome', '')}"></th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Data</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Local</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Capacidade</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Palestrantes</th>
                <!-- Ações agora sempre visível para todos os usuários -->
                <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="evento : ${pagina.conteudo}" class="odd:bg-white even:bg-gray-100 hover:bg-gray-200">
                <td th:text="${evento.codigo}" class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">John Brown</td>
                <td th:text="${evento.nome}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">45</td>
                <td th:text="${evento.getDataEventoFormatada}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">11/11/1111</td>
                <td th:text="${evento.local}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">New York No. 1 Lake Park</td>
                <td th:text="${evento.capacidade}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">11</td>
                <td th:text="${evento.usuario.nome}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">John</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 flex gap-2 justify-center">
                  <!-- Ações para Palestrantes que são donos do evento -->
                  <div sec:authorize="hasAuthority('PALESTRANTE')" 
                       th:if="${evento.usuario.nomeUsuario == #authentication.name}" 
                       class="flex gap-2">
                       <form th:hx-post="@{/eventos/abriralterar}" 
                             hx-target="#main" 
                             hx-swap="outerHTML">
                           <input type="hidden" name="codigo" th:value="${evento.codigo}" />
                           <input type="hidden" name="nome" th:value="${evento.nome}" />
                           <input type="hidden" name="dataEvento" th:value="${{evento.dataEvento}}" />
                           <input type="hidden" name="local" th:value="${evento.local}" />
                           <input type="hidden" name="capacidade" th:value="${evento.capacidade}" />
                           <input type="hidden" name="usuario.nome" th:value="${evento.usuario.nome}" />
                           <input type="hidden" name="usuario.nomeUsuario" th:value="${evento.usuario.nomeUsuario}" />
                           <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Alterar</button>
                       </form>
                      <form th:hx-post="@{/eventos/finalizar}"
                            hx-target="#main" 
                            hx-swap="outerHTML"
                            th:hx-confirm="${'Você vai finalizar o evento ' + evento.nome + '!'}">
                            <input type="hidden" name="codigo" th:value="${evento.codigo}" />
                            <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-red-100 text-red-800 hover:bg-red-200 focus:outline-none focus:bg-red-200 disabled:opacity-50 disabled:pointer-events-none">Finalizar</button>
                      </form>
                  </div>
                  <!-- Ação para Todos os Usuários -->
                  <form   th:if="${evento.usuario.nomeUsuario != #authentication.name}"
                          th:hx-post="@{/eventos/participar}"
                        hx-target="#main" 
                        hx-swap="outerHTML">
                      <input type="hidden" name="codigo" th:value="${evento.codigo}" />
                      <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-emerald-100 text-emerald-800 hover:bg-emerald-200 focus:outline-none focus:bg-emerald-200 disabled:opacity-50 disabled:pointer-events-none">Participar</button>
                  </form>
                    <form th:hx-post="@{/participantes/ver}"
                          hx-target="#main"
                          hx-swap="outerHTML"
                          >
                        <input type="hidden" name="idEvento" th:value="${evento.codigo}" />
                        <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-zinc-300 text-black hover:bg-zinc-400 focus:outline-none focus:bg-zinc-400 disabled:opacity-50 disabled:pointer-events-none">Ver</button>
                    </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div th:replace="~{layout/fragments/paginacao :: paginacao(${pagina})}"></div>

    <div th:replace="~{layout/fragments/csrf :: csrf}"></div>
  </div>
</main>
<!-- !conteudo principal -->
</body>
</html>